<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
  <a class="navbar-brand" href="/">Jardín & Carritos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navC">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navC" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/home">Usuarios</a></li>
      <li class="nav-item"><a class="nav-link" href="/usuarios/registro">Registro</a></li>
      <li class="nav-item"><a class="nav-link" href="/usuarios/ranking">Ranking</a></li>
    </ul>
  </div>
</nav>
